<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Admin Panel</li>



            <li>
                <a href="~/Profile/Index" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Profile</span>
                </a>
            </li>
            <li>
                <a href="~/Dashboard/Index" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="~/About/AboutList" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Hakkında</span>
                </a>
            </li>
            <li>
                <a href="~/Category/CategoryList" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="~/Product/ProductList" aria-expanded="false">
                    <i class="icon-anchor menu-icon"></i><span class="nav-text">Ürünler</span>
                </a>
            </li>
            <li>
                <a href="~/Chef/ChefList" aria-expanded="false">
                    <i class="icon-fire menu-icon"></i><span class="nav-text">Şefler</span>
                </a>
            </li>
            <li>
                <a href="~/Contact/ContactList" aria-expanded="false">
                    <i class="icon-phone menu-icon"></i><span class="nav-text">İletişim</span>
                </a>
            </li>
            <li>
                <a href="~/Reservation/ReservationList" aria-expanded="false">
                    <i class="icon-book-open menu-icon"></i><span class="nav-text">Rezervasyon</span>
                </a>
            </li>
            <li>
                <a href="~/Service/ServiceList" aria-expanded="false">
                    <i class="icon-wrench menu-icon"></i><span class="nav-text">Servis</span>
                </a>
            </li>
            <li>
                <a href="~/Testimonial/TestimonialList" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="~/Adress/AdressList" aria-expanded="false">
                    <i class="icon-location-pin menu-icon"></i><span class="nav-text">Adress</span>
                </a>
            </li>
            <li>
                <a href="~/Feature/FeatureList" aria-expanded="false">
                    <i class="icon-menu menu-icon"></i><span class="nav-text">Features</span>
                </a>
            </li>
            <li>
                <a href="~/Gallery/GalleryList" aria-expanded="false">
                    <i class="icon-picture menu-icon"></i><span class="nav-text">Galeri</span>
                </a>
            </li>
            <li>
                <a href="~/Notification/NotificationList" aria-expanded="false">
                    <i class="icon-bell menu-icon"></i><span class="nav-text">Bildirimler</span>
                </a>
            </li>
            <li>
                <a href="~/Statistic/Index" aria-expanded="false">
                    <i class="icon-chart menu-icon"></i><span class="nav-text">İstatistik</span>
                </a>
            </li>
        </ul>
    </div>
</div>