@model List<AcunMedya.Restaurantly.Entities.Event>
<section id="events" class="events">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Etkinlikler</h2>
            <p>Sizin için Etkinlik Rezerve Edelim</p>
        </div>

        <div class="events-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="@item.ImageUrl" class="img-fluid" alt=""style="width:650px;height:750px">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>@item.EventName</h3>
                                <div class="price">
                                    <p><span>@item.EventPrice₺</span></p>
                                </div>
                                <p class="fst-italic">
                                  @item.EventDescription
                                </p>                                                      
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>