﻿@model List<AcunMedya.Restaurantly.Entities.Adress>
@{
    ViewBag.Title = "AdressList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<!-- row -->

<div class="container-fluid">
    <div class="row">

        <!-- /# column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Adress Listi</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Adres</th>
                                    <th>Çalışma Saatleri</th>
                                    <th>E-Posta</th>
                                    <th>Telefon</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th>@item.Location</th>
                                        <th>@item.OpenHours</th>
                                        <th>@item.Email</th>
                                        <th>@item.Call</th>
                                        <td><a href="/Adress/AdressDelete/@item.AdressId" class="btn btn-danger"><i class="fa fa-close color-muted m-r-5"></i> Sil</a></td>
                                        <td><a href="/Adress/AdressEdit/@item.AdressId" class="btn btn-info gradient-7"><i class="fa fa-edit color-muted m-r-5"></i> Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Adress/AdressCreate/" class="btn btn-success">Adres Ekle</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->

    </div>
</div>

