@model List<AcunMedya.Restaurantly.Entities.Testimonial>
<div class="row">

    @foreach  (var item in Model)
    {
    <div class="col-testimonial col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <img alt="" class="rounded-circle mt-4" src="@item.ImageUrl" style="width:100px;height:100px">
                    <h4 class="card-widget__title text-dark mt-3">@item.Name</h4>
                    <p class="text-muted">@item.Title</p>
                    <a href="@item.SocialMediaUrl"class="btn gradient-9 btn-lg border-0 btn-rounded px-5">Takip Et</a>
                </div>
           </div>      
    </div>
</div>
    }
   </div>
